<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.applicationHost>
    <applicationPools>
      <add name="$[AppPool]" managedRuntimeVersion="v4.0" managedPipelineMode='Integrated' />
    </applicationPools>
    <sites>
      <site name="$[SiteName]" id="$[SiteId]">
        <application path="/" applicationPool="$[AppPool]">
          <virtualDirectory path="$[VirtualPath]" physicalPath="$[PhysicalPath]" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:$[Port]:" />
        </bindings>
      </site>
      <virtualDirectoryDefaults allowSubDirConfig="true" />
    </sites>
  </system.applicationHost>
  <system.webServer>
    <directoryBrowse enabled="$[DirectoryBrowse]" />
  </system.webServer>
</configuration>
