<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DevLib.Samples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <!--<system.serviceModel>
        <services>
            <service behaviorConfiguration="WcfCalc.Service1Behavior" name="WcfCalc.Calc">
                <endpoint address="" binding="wsHttpBinding" contract="WcfCalc.ICalc">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    --><!--<baseAddresses>
                        <add baseAddress="http://localhost:8888/WcfCalc/Calc/" />
                    </baseAddresses>--><!--
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WcfCalc.Service1Behavior">
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>-->

</configuration>