<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.applicationHost>
    <applicationPools>
      <add name="$[AppPool]" managedRuntimeVersion="v2.0" managedPipelineMode="$[ManagedPipelineMode]"/>
    </applicationPools>
    <sites>
      <site name="$[SiteName]" id="$[SiteId]">
        <application path="/" applicationPool="$[AppPool]">
          <virtualDirectory path="$[VirtualPath]" physicalPath="$[PhysicalPath]" />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:$[Port]:" />
        </bindings>
      </site>
      <siteDefaults>
        <logFile logFormat="W3C" directory="%SystemDrive%\inetpub\logs\LogFiles" />
        <traceFailedRequestsLogging directory="%SystemDrive%\inetpub\logs\FailedReqLogFiles" />
      </siteDefaults>
      <applicationDefaults applicationPool="$[AppPool]" />
      <virtualDirectoryDefaults allowSubDirConfig="true" />
    </sites>
  </system.applicationHost>
  <system.webServer>
    <directoryBrowse enabled="$[DirectoryBrowse]" />
  </system.webServer>
</configuration>
